// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.city-index{
  display: flex;
  flex-direction: row;
  // border: 1px solid red;
  flex-wrap:wrap;

  justify-content: space-around;
  align-items: center;
  // margin-left: 15vmin;
  margin-right: 3.5vmin;
  margin-top: 30px;
  // width: 1200px;

}
.city-index-container{
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: center;
  // align-items: flex-end;
  width: 1120px;
  margin: 0 auto;
  margin-top: 20px;

}



.city-item{
  // margin-top: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-bottom: 30px;
}

.city-name{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;

}

.city-image{
  height: 250px;
  width: 310px;
  border-radius: 10px;
  border-bottom: none;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

}

// .city-image:hover{
//   border: 1px solid gray;
// }

.city-tag{
  font-style: italic;
  color: darkgray;
}
