// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.city-index{
  display: flex;
  flex-direction: row;
  // border: 1px solid red;
  flex-wrap:wrap;
  // border: 1px solid black;

  justify-content: space-around;
  align-items: center;
  // margin-left: 15vmin;
  margin-right: 3.5vmin;
  margin-top: 20px;
}



.city-item{
  margin-top: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 350px;
  // width: 350px;
  height: 42vmin;
  width: 42vmin;
  margin-right: 10px;
  // width: 30%;
  background-color: #f2f2f2;
}

.city-name{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;

}

.city-image{
  // height: 270px;
  // width: 350px;
  height: 33vmin;
  width: 42vmin;
  border: 6px solid lightblue;
  border-bottom: none;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

}

.city-tag{
  font-style: italic;
  color: darkgray;
}
