.city-show{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.left-wing{
  height: 30px;
}

.right-wing{
  height: 30px;
}

.city-show-name{
  font-size: 40px;
  margin-top: 60px;
  // margin-bottom: -20px;
}

.city-name-right{
  width: 150px;
  height: 200px;
  border: 1px solid black;
}
.city-name-left{
  width: 150px;
  height: 200px;
  border-bottom: 1px solid black;
}

.city-map{
  // margin-top: 5px;
  width: 100%;
  // border: 1px solid black;
}

.business-index{
  width: 1150px;
  height: 1150px;

}
