.city-show{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  // margin-top: 100px;
  margin-top: -50px;

}

.city-show-name{
  // border: 1px solid black;
  font-size: 40px;
}

.city-map{
  // border: 1px solid black;
  margin-top: -100px;
}
