.city-show{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 600px;
  // width: 100%;
  // margin-top: 200px;
  // margin-top: -50px;
  // border: 1px solid black;

}

.left-wing{
  height: 30px;
}

.right-wing{
  height: 30px;
}

.city-show-name{
  // border: 1px solid black;
  font-size: 40px;
  margin-top: 190px;
  margin-bottom: -20px;
}

.city-name-right{
  width: 150px;
  height: 200px;
  border: 1px solid black;
}
.city-name-left{
  width: 150px;
  height: 200px;
  border-bottom: 1px solid black;
}

.city-map{
  // border: 1px solid black;
  // margin-top: -100px;
  margin-top: 20px;
}

.business-index{
  // border: 1px solid black;
  // background-color: #f2f2f2;
  width: 1150px;
  height: 1150px;
  // margin-top: 20px;
}
