.footer{
  height: 120px;
  width: 100%;
  background-color: lightgray;
  margin-top: 180px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color:black;
}

.linkedin{
  margin: 20px;

}

@media(max-width:1200px ){
  .footer{
    width: 1200px;
  }
}
