.nav-bar{
  top: 0;
  background: linear-gradient(to right, lightgreen , darkblue);
  height: 80px;
  margin-bottom: 40px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  width: 100%;
  z-index: 1;
}

.logo{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3vw;
  color: white;
  margin-right: 55px;
  margin-left: 40px;
}
.top-10{
  color: #f2f2f2;
  margin-right: 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overflow{
  color: #f2f2f2;

  margin-right: 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.favorites, .logout{
  color: #f2f2f2;
  margin-right: 30px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting{
  color: #f2f2f2;
  margin-right: 30px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}


.logout:hover{
  cursor:pointer;
}

.login{
  color: #f2f2f2;
  margin-right: 30px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-right{
  font-family: 'Josefin Sans', sans-serif;
  display:flex;
  align-items: center;
  flex-direction: row;
  font-size: 22px;
  color: black;

}

.search{
  // position: relative;
  width: 35vmin;
  margin-right: 30px;
  height: 30px;
  font-size: 20px;
}

.search-item{
  background-color: white;
  // padding: 20px;
  width: 34.3vmin;
  padding-top: 15px;
  padding-left:10px;
  padding-bottom: 15px;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-bottom: 0.5px solid gray;

  text-align: justify;

}

.search-item:hover{
  background-color: #f2f2f2;
}

.search-item{
  border-top: 1px solid gray;
}

.search-list{
  position:absolute;
  top: 58px;
}
