.nav-bar{
  top: 0;
  background: linear-gradient(to right, lightgreen , darkblue);
  height: 80px;
  margin-bottom: 40px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  width: 100%;
  z-index: 1;
}

.logo{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: white;
  margin-right: 55px;
  margin-left: 40px;
}
.top-10{
  margin-right: 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overflow{

  margin-right: 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.favorites{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-right{
  font-family: 'Josefin Sans', sans-serif;
  display:flex;
  align-items: center;
  flex-direction: row;

  font-size: 22px;
  color: black;

}

.search{
  width: 250px;
  margin-right: 30px;
  height: 30px;
  font-size: 20px;
}
