// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-city{
  color:black;
  font-size: 15px;
}

textarea:focus, input:focus{
    outline: 0;
}

textarea{
  resize:none;
  width: 500px;
  height: 150px;
  box-shadow: none;
  font-size: 17px;
  border: 2px solid gray;
}

.review-item{
  width: 700px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.review-recommendation{
  color:black;
  font-size: 15px;
}


.featured-reviewer{
  color:black;
}
